@import '../../node_modules/tailwindcss/base.css';
@import '../../node_modules/tailwindcss/components.css';
@import '../../node_modules/tailwindcss/utilities.css';

@font-face {
    font-family: 'Figtree';
    src: url('../assets/fonts/Figtree-VariableFont_wght.ttf');
}

.font-figtree {
    font-family: 'Figtree', sans-serif;
}

.card_box-shadow {
    box-shadow: 0px 10px 13px -7px #000000, 8px 8px 0px 0px #000000;
}